### 1. Import the dataset.

In [1]:
#Import the required library
import pandas as pd

In [2]:
#Import the advertising dataset
df=pd.read_excel('D:\Advertising Budget and Sales.xlsx');

### 2. Analyze the dataset.

In [3]:
#View the initial few records of the dataset
df.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
0             230.1                 37.8                     69.2       22.1
1              44.5                 39.3                     45.1       10.4
2              17.2                 45.9                     69.3        9.3
3             151.5                 41.3                     58.5       18.5
4             180.8                 10.8                     58.4       12.9

In [4]:
#Check the total number of elements in the dataset
df.size

800

### 3. Find the features or media channels used by the firm.

In [5]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df.shape

(200, 4)

In [6]:
#View the names of each of the attributes
df.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

### 4: Create objects to train and test the model; find the sales figures for each channel.

In [7]:
#Create a feature object from the columns
x_feature = df[['Newspaper Ad Budget ($)','Radio Ad Budget ($)','TV Ad Budget ($)']]

In [8]:
#View the feature object
x_feature.head()

   Newspaper Ad Budget ($)  Radio Ad Budget ($)  TV Ad Budget ($)
0                     69.2                 37.8             230.1
1                     45.1                 39.3              44.5
2                     69.3                 45.9              17.2
3                     58.5                 41.3             151.5
4                     58.4                 10.8             180.8

In [10]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target = df[['Sales ($)']]

In [11]:
#View the target object
y_target.head()

   Sales ($)
0       22.1
1       10.4
2        9.3
3       18.5
4       12.9

In [12]:
#Verify if all the observations have been captured in the feature object
x_feature.shape

(200, 3)

In [13]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200, 1)

### 5. Split the original dataset into training and testing datasets for the model.

In [14]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
x_train , x_test , y_train, y_test = train_test_split(x_feature,y_target,random_state=1)

In [15]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

### 6. Create a model to predict the sales outcome.

In [16]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [17]:
#Print the intercept and coefficients 
print(linreg.intercept_)
print(linreg.coef_)

[2.87696662]
[[0.00345046 0.17915812 0.04656457]]

In [18]:
#Predict the outcome for the testing dataset
y_pred =linreg.predict(x_test)
y_pred

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

### 7. Calculate the Mean Square Error (MSE).

In [19]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics
import numpy as np

In [20]:
#Calculate the MSE
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.4046514230328948